---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout subTitle="">
    <p>
        <a href="/about">お店情報</a>
    </p>
    <p>
        <a href="/newMenus">新着メニュー</a>
    </p>
</BaseLayout>