---
import NewMenuListItem from "../../components/NewMenuListItem.astro";

interface Menu {
    id: number;
    name: string;
    price: number;
}

const newMenuList: Menu[] = [
    { id: 1, name: "海の幸パスタ", price: 1200 },
    { id: 2, name: "季節のフルーツタルト", price: 800 },
];

---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>新着メニュー一覧 | ルーティング</title>
	</head>
	<body>
        <h1>ルーティング</h1>
        <h2>新着メニュー一覧</h2>
        <section>
            <ul>
                {
                    newMenuList.map(item => (
                        <NewMenuListItem 
                            id={item.id} 
                            name={item.name} 
                            price={item.price} />
                    ))
                }
            </ul>
        </section>
        <a href="/">TOPへ</a>
	</body>
</html>